<app-header></app-header>
<mat-drawer-container class="example-container" autosize >
    <mat-drawer #drawer class="example-sidenav" mode="side" opened >
      <!-- <p>Auto-resizing sidenav</p> -->
      <mat-nav-list>
        <a mat-list-item routerLink="/campaigns" >
          <mat-icon matListIcon>request_quote</mat-icon>
          Campaigns
        </a>
        <a *ngIf="showUsers" mat-list-item routerLink="/users" >
          <mat-icon matListIcon>person</mat-icon>
          Users
        </a>
     </mat-nav-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>