.example-container {
    width: 100%;
    height: calc(100vh - 70px);
  }
  
  .example-sidenav-content {
    height: 100%;
    align-items: center;
    justify-content: center;
    width: calc(100% - 88px);
    padding: 44px;
  }
  
  .example-sidenav {
    padding: 20px;
    width: 250px;
  }