<h1 mat-dialog-title>Assign Campaign</h1>

<div mat-dialog-content>
    <mat-list>
        <mat-list-item *ngFor="let a of users">
            <p>
                <span>{{a.username}}</span>
                <span>
                    <mat-slide-toggle
                    color="primary"
                    [(checked)]="a.is_assigned"
                    (change)="onChange($event, a)"
                    >
                </mat-slide-toggle>
                </span>
            </p>
        </mat-list-item>
       </mat-list>
</div>

<div mat-dialog-actions style="float: right">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="update()">Update</button>
  </div>